<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form">
                            <div class="gaa-logo">
                                <img src="../../../assets/moneyshare.png" style="margin-bottom: 25px;" class="gaa-img">
                            </div>
                            <div class="form-group">
                                <input type="text" name="username" id="username" style="background-color: slateblue; color: white;" class="form-control" placeholder="📕 Ticket Title" #title required>
                            </div>
                            <div class="form-group">
                                <input type="text" style="margin-left:-120px; background-color: slateblue; color: white; height: 250px; width: 700px;" id="ticketBody" class="form-control" placeholder="📧 Ticket Body: Please write a detailed description of the problem that you are having. Include all details and information on how to recreate the error." #body required>
                            </div>
                            <div class="form-group" *ngIf="auth.user$ | async as user">
                                <input type="button" name="submit" value="Submit Ticet" class="btn btn-info btn-md w-100" (click)="submitTicket(title.value, body.value, user.uid)">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>