<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
            <h3 style="color: whitesmoke;">MoneyShare</h3>
            <!-- <img src="../../../assets/moneyshare.png" class="logo" alt=""> -->
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/deposit">Deposit</a>
          </li>
          <li *ngIf="isLoggedin"class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!isLoggedin" (click)="SignOut()">Sign Out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ticket">Report</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

